/* Header & Navbar */
.header_top{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.logo-image{
    width: 5%;
    height:auto;
    background-color: transparent;
}

/*Cover Page*/
.main-body{
    padding-top: 5%;
}

#salute-all{
    font-family: 'Montserrat', sans-serif;
    padding-top:20%;
}

/*Portfolio Page*/
.portfolio{
    padding-top: 5%;
}
#portfolio_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.col-sm-4{
    cursor: pointer;
}
