/* Header & Navbar */
.header_top{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.logo-image{
    width: 5%;
    height:auto;
    background-color: transparent;
}

/*Cover Page*/
.main-body{
    padding-top: 5%;
    padding-left:20%;
    padding-right:20%;
}

#salute-all{
    font-family: 'Montserrat', sans-serif;
    padding-top:20%;
}
/*Portfolio Page*/
.portfolio{
    padding-top: 5%;
}
#portfolio_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.col-sm-4{
    cursor: pointer;
}

/*About Page*/
#image-about{
    width: 250px;
    float: left;
}
.snippet{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
.about-me{
    font-family: 'Montserrat', sans-serif;
}

/*Contact Page*/
.contact-me{
    font-style: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top:5%;
    padding-left:20%;
    padding-right: 20%;
}
.contact-title{
    font-size: 50px;
}