/* Header & Navbar */

.header_top{
    font-family: 'Montserrat', sans-serif;
}

/*Cover Page*/
.main-body{
    padding-top: 5%;
}

#salute-all{
    font-family: 'Montserrat', sans-serif;
    padding-top:20%;
}